<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Credential</title>
</head>
<body>

<h1>Edit Credential</h1>

<p>username: <span th:text="${user.getUsername()}"></span></p>
<p>user ID: <span th:text="${user.getUserid()}"></span></p>

<form action="#" th:action="@{/home/cred/update}" th:object="${editCredForm}" method="post">
    <p>URL</p>
    <input id="edit-cred-url" type="text" th:field="*{url}">

    <p>username</p>
    <input id="edit-cred-username" type="text" th:field="*{username}">

    <p>password</p>
    <input id="edit-cred-password" type="text" th:field="*{password}">

    <input type="hidden" th:field="*{credId}">
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>